@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>Bio</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer vitae justo eget magna fermentum iaculis eu non. Vitae aliquet nec ullamcorper sit amet risus nullam eget. Nisi quis eleifend quam adipiscing vitae. Eget arcu dictum varius duis at consectetur lorem donec. Neque laoreet suspendisse interdum consectetur. Maecenas accumsan lacus vel facilisis volutpat est. Quis vel eros donec ac odio tempor. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero id. Aenean et tortor at risus viverra adipiscing. Nibh tellus molestie nunc non blandit massa enim. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Curabitur gravida arcu ac tortor dignissim convallis. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Nisi est sit amet facilisis magna etiam tempor orci eu.
    </p>
    <p>
        Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Arcu ac tortor dignissim convallis aenean et tortor at. Arcu vitae elementum curabitur vitae nunc sed velit. Bibendum enim facilisis gravida neque convallis a cras. Justo donec enim diam vulputate. At in tellus integer feugiat scelerisque varius. Imperdiet nulla malesuada pellentesque elit. Dui ut ornare lectus sit amet est placerat in. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Tempus iaculis urna id volutpat lacus laoreet. Ipsum dolor sit amet consectetur adipiscing elit pellentesque. Non blandit massa enim nec dui nunc mattis enim.
    </p>
    <p>
        Imperdiet dui accumsan sit amet. Metus dictum at tempor commodo ullamcorper a. Morbi quis commodo odio aenean sed. Ac turpis egestas sed tempus. Ut tellus elementum sagittis vitae et leo duis ut. Sit amet mauris commodo quis imperdiet massa tincidunt. Mauris a diam maecenas sed enim ut. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Mauris a diam maecenas sed enim ut sem. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Arcu odio ut sem nulla pharetra diam sit amet nisl. Sagittis id consectetur purus ut faucibus pulvinar elementum integer. Id diam maecenas ultricies mi eget mauris pharetra et ultrices. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam.
    </p>
    <p>
        Blandit aliquam etiam erat velit scelerisque in. Tortor aliquam nulla facilisi cras. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Dolor morbi non arcu risus quis. Felis donec et odio pellentesque diam volutpat commodo sed. Lacus sed turpis tincidunt id aliquet risus. Pellentesque diam volutpat commodo sed egestas egestas. A condimentum vitae sapien pellentesque. Venenatis lectus magna fringilla urna porttitor rhoncus. Sagittis purus sit amet volutpat consequat mauris nunc. Amet mauris commodo quis imperdiet. Feugiat sed lectus vestibulum mattis ullamcorper velit. Ut placerat orci nulla pellentesque dignissim enim sit amet.
    </p>
</div>


<img src="@Url.Content("~/Content/Images1/LinkedIn_Logo.jpg")" height="100"/>
<h2>
    Link to LinkedIn:  <button type="button" class="btn btn-link">https://www.linkedin.com/in/jamilabbas/</button>
</h2>