@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jamil Abbas</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Developing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque penatibus et magnis. Ac tincidunt vitae semper quis. Dignissim convallis aenean et tortor.</p>
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>Troy is a city located in Metropolitan Detroit's northern suburbs in Oakland County in the U.S. state of Michigan. The population was 80,980 at the 2010 census, making it the 11th-largest city in Michigan by population, and the largest city in Oakland County. </p>
        
    </div>
</div>