@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <h2 class="text-primary font-weight-bolder text-uppercase">
        Main GitHub Page
    </h2>
    <p>
        The following link will route you to my main GitHub page:
        <button type="button" class="btn btn-link">https://github.com/JamilAbbas787</button>
    </p>
    <h3>Midterm</h3>
    <p>Built in conjunction with Omaha 3</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim enim sit amet venenatis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Dui vivamus arcu felis bibendum. Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. Urna molestie at elementum eu facilisis sed odio. Nunc consequat interdum varius sit amet mattis vulputate enim.
        <button type="button" class="btn btn-link">https://github.com/Omaha3/Omaha_x_3/tree/master/POS</button>
    </p>

    <h3>LAbJJ</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim enim sit amet venenatis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Dui vivamus arcu felis bibendum. Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. Urna molestie at elementum eu facilisis sed odio. Nunc consequat interdum varius sit amet mattis vulputate enim.
        <button type="button" class="btn btn-link">https://github.com/JamilAbbas787/LabJJ</button>
    </p>
</div>
